<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278040865758-e16llbvqsl2t2libmd1hl9gi3jsmntri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278040865758-e16llbvqsl2t2libmd1hl9gi3jsmntri</string>
	<key>API_KEY</key>
	<string>AIzaSyBdX36A3URSbq4oHP4rOpJ13wyos4iNOv4</string>
	<key>GCM_SENDER_ID</key>
	<string>278040865758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackingwithswift.Bookstore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-4a0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-4a0fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278040865758:ios:cdd3f5066e2733e0040b4f</string>
</dict>
</plist>